.header {
    height: 47px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

.contact-info {
    display: flex;
    background-color: #1c1c1c;
    color: #fff;
    flex: 1;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    justify-content: space-between;
}

.contact-info-contain {
    display: flex;
    align-items: center;
}

.contact-info-item {
    margin-left: 20px;
    cursor: pointer;
}

.contact-info-text {
    transition: 0.4s;
}

.contact-info-item:hover .contact-info-text {
    color: var(--default-color);
}

.contact-info-social {
    display: flex;
    padding-right: 20px;
}

.contact-info-social > i {
    padding: 0 8px;
    cursor: pointer;
    transition: 0.4s;
}

.contact-info-social > i:hover {
    color: var(--default-color);
}

.icon-mail {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.6rem;
    top: 1px;
}

.icon-mail,
.icon-phone,
.icon-pin {
    color: #3abdc1;
    margin-right: 10px;
}

.language {
    width: 140px;
    height: 100%;
    background-color: #3abdc1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.language-item {
    margin-right: 5px;
}

.icon-down {
    font-size: 1.2rem;
}

.language-dropdown {
    position: absolute;
    top: 47px;
    background-color: #3abdc1;
    width: 100%;
    transition: 0.5s;
    height: 0;
}

.language-dropdown .language-list {
    pointer-events: none;
}

.language.active .language-list {
    pointer-events: unset;
}

.language.active .language-dropdown {
    height: 138px;
}

.language-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.language-list-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.language-list-item-text {
    margin: 15px auto;
    position: relative;
    overflow: hidden;
}

.language-list-item-text::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 100%;
    bottom: 0;
    left: -100%;
    background-color: #fff;
}

.language-list-item:hover .language-list-item-text::after {
    animation: slideLanguageUnderline 0.2s linear forwards;
}

.user {
    width: 46px;
    height: 100%;
    background-color: #3fd0d4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

.header-logo-container {
    height: 143px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-center {
    width: 250px;
    height: 80px;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeOutModal 0.3s linear forwards; 
    display: none;
    z-index: 999;
}

.modal.active {
    display: flex;
    animation: fadeInModal 0.3s linear forwards; 
}

.form {
    width: 310px;
}

.form-tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-tab-item {
    width: 50%;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 20px 30px;
    background-color: #3abdc1;
    text-align: center;
    cursor: pointer;
}

.form-tab-item.active {
    background-color: #3fd0d4;
}

.form-tab-content {
    flex-direction: column;
    display: none;
    background-color: #3fd0d4;
    padding: 0 30px;
}

.form-tab-content.active {
    display: flex;
}

.tab-content-heading {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    color: #fff;
    padding-top: 40px;
}

.tab-content-sub-heading {
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding: 20px 0;
}

.tab-content-input-item {
    font-size: 1.4rem;
    color: #fff;
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    padding-left: 17px;
}

.input-box {
    outline: none;
    border: none;
    background-color: rgba(255,255,255,.25);
    height: 52px;
    width: 100%;
    padding: 13px 16px 13px 48px;
    color: #fff;
}

.input-box::placeholder {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.save-info {
    color: #fff;
    font-size: 1.4rem;
    position: relative;
    padding: 20px 25px;
}

.check-save-info {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.save-info .checkmark:after {
   width: 4px;
   height: 4px;
   border-radius: 50%;
   background: #3fd0d4;
}

.save-info input:checked ~ .checkmark {
    background-color: #fff;
}

.save-info input:checked ~ .checkmark:after {
    display: block;
}

.lost-password-title {
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.6s;
}

.lost-password-title:hover {
    opacity: 1;
}

.btn-sign-in {
    outline: none;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #212121;
    padding: 15px 0;
    margin: 20px 0;
    cursor: pointer;
}

.sign-in-other {
    color: #fff;
    font-size: 1.4rem;
    padding-bottom: 20px;
}

.sign-in-other-btn {
    width: 100%;
    display: flex;
}

.sign-in-other-item {
    flex: 50%;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 0;
    cursor: pointer;
}

.sign-in-other-item:first-child {
    background-color: #3b5998;
}

.sign-in-other-item:last-child {
    background-color: #dd4b39;
}

.head-body {
    width: 100%;
}

.head-body-nav {
    width: 100%;
    position: relative;
}

.head-body-navigation-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-body-navigation {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 500;
    z-index: 99;
}

.head-body-navigation-item {
    padding: 20px 36px;
    cursor: pointer;
    position: relative;
}

.head-body-navigation-sub-item {
    padding: 0 36px;
}

.head-body-navigation-item-text {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 5px 0;
}

.head-body-navigation-item-text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    left: -100%;
    bottom: 0;
    background-color: var(--default-color);
}

.head-body-navigation-item-text:hover {
    color: var(--default-color);
}

.head-body-navigation-item-text:hover::after {
    animation: slideLanguageUnderline 0.3s linear forwards;
}

.head-body-navigation-list {
    position: absolute;
    list-style: none;
    background-color: #fff;
    left: 0;
    top: 66px;
    width: 250px;
    font-size: 1.4rem;
    transition: 0.2s;
    height: 0;
    pointer-events: none;
}

.head-body-navigation-item-page-text {
    opacity: 0;
    pointer-events: none;
}

.head-body-navigation-list.active .head-body-navigation-item-page-text {
    animation: fadeInText 0.2s 0.15s linear forwards;
}

.head-body-navigation-list.sub-1.active {
    pointer-events: unset;
    transition: 0.5s;
    height: 442px;
}

.head-body-navigation-list.sub-2.active {
    pointer-events: unset;
    transition: 0.5s;
    height: 364px;
}

.head-body-navigation-list.sub-3.active {
    pointer-events: unset;
    transition: 0.5s;
    height: 168px;
}

.head-body-navigation-list.sub-4.active {
    pointer-events: unset;
    transition: 0.5s;
    height: 207px;
}

.head-body-navigation-list.sub-5.active {
    pointer-events: unset;
    transition: 0.5s;
    height: 168px;
}
.head-body-navigation-list.sub-6.active {
    pointer-events: unset;
    transition: 0.5s;
    height: 207px;
}

.head-body-navigation-item-page {
    padding: 5px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-right-arrow {
    opacity: 0;
    pointer-events: none;
    font-size: 1.3rem;
}

.head-body-navigation-item-sub-page {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.head-body-navigation-item-page:first-child,
.head-body-navigation-sub-page:first-child {
    padding-top: 30px;
}

.head-body-navigation-item-page:last-child,
.head-body-navigation-sub-page:last-child {
    padding-bottom: 30px;
}


.head-body-navigation-item-page-text,
.head-body-navigation-sub-page-text {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 5px 0;
}

.head-body-navigation-sub-page:hover .head-body-navigation-sub-page-text {
    color: var(--default-color);
}

.head-body-navigation-sub-page {
    padding: 5px 30px;
}

.head-body-navigation-item-page-text::after,
.head-body-navigation-sub-page-text::after,
.mega-menu-title:after,
.mega-menu-item-text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: -100%;
    bottom: 0;
    background-color: var(--default-color);
}

.head-body-navigation-item-page:hover .head-body-navigation-item-page-text::after,
.head-body-navigation-sub-page:hover .head-body-navigation-sub-page-text::after,
.mega-menu-heading:hover .mega-menu-title::after,
.mega-menu-item:hover .mega-menu-item-text::after {
    animation: slideLanguageUnderline 0.3s linear forwards;
}

.head-body-navigation-item-page:hover .head-body-navigation-item-page-text,
.head-body-navigation-item-page:hover .icon-right-arrow,
.mega-menu-item:hover .mega-menu-item-text {
    color: var(--default-color);
}

.head-body-navigation-item:hover .icon-right-arrow {
    animation: fadeInText 0.2s 0.15s linear forwards;
}

.head-body-navigation-item-page:hover .head-body-navigation-item-sub-page {
    pointer-events: unset;
    opacity: 1;
}

.mega-menu {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-around;
    padding: 0 50px;
    top: 100%;
    transition: 0.4s;
    height: 0;
    pointer-events: none;
    z-index: 99;
}

.mega-menu.active {
    pointer-events: unset;
    height: 376px;
}

.mega-menu-list {
    display: flex;
    flex-direction: column;
}

.mega-menu-heading {
    display: flex;
    width: 100%;
}

.mega-menu-item {
    padding: 8px 0;
}

.mega-menu-item:last-child {
    padding-bottom: 40px;
}

.mega-menu-title {
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--default-color);
    margin: 20px 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.mega-menu-list-item {
    list-style: none;
    font-size: 1.4rem;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
}

.mega-menu-item-text {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.mega-menu.active .mega-menu-item-text,
.mega-menu.active .mega-menu-title {
    pointer-events: unset;
    animation: fadeInText 0.2s 0.25s linear forwards;
}

.slider {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr;
    grid-gap: 30px;
    margin-top: 20px;
}

.slider-left {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-left-contain,
.slider-right-contain {
    padding-top: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-left-contain {
    transition: 0.5s linear 0.2s;
}

.slider-right-contain {
    transition: 0.5s linear 0.4s;
    padding-top: 200%;
}

.slider-left-title {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-title-img {
    display: none;
    opacity: 0;
    height: 50%;
    width: 60%;
}

.slider-title-img.active {
    display: block;
    animation: fade 0.5s linear 1s forwards;
}

.slider-right {
    grid-column: 4 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-control-left,
.slider-control-right {
    position: absolute;
    padding: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: var(--default-color);
    cursor: pointer;
}

.slider-control-left {
    left: 0;
    margin-left: 20px;
}

.slider-control-right {
    right: 0;
    margin-right: 20px;
}

.slider-control-left:hover,
.slider-control-right:hover {
    background-color: var(--default-color);
    color: #fff;
}

.section-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
    width: 640px;
    margin-left: 20px;
    margin-right: 100px;
}

.section-statistic-heading {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
}

.section-statistic-description {
    margin: 20px 0 30px;
    line-height: 3rem;
}

.section-statistic-chart {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px 0;
}

.section-statistic-chart-heading {
    display: flex;
    justify-content: space-between;
}

.section-statistic-chart-row {
    width: 100%;
    height: 24px;
    background-color: #f0ede8;
    margin: 10px 0 20px;
    position: relative;
}

.section-statistic-chart-slide {
    position: absolute;
    width: 24px;
    height: 100%;
    background-color: var(--default-color);
    transition: 2.5s;
}

.section-statistic-chart-slide.slide-1.active {
    width: 76%;
}

.section-statistic-chart-slide.slide-2.active {
    width: 92%;
}

.section-statistic-chart-slide.slide-3.active {
    width: 86%;
}

.section-statistic-chart-slide::after {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #3abdc1;
    right: 0;
}

.section-statistic-chart-slide::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #3abdc1;
    left: 0;
}

.banner {
    width: 100%;
}

.banner-img {
    width: 100%;
}

.body-content {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    line-height: 2.8rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.body-content-heading {
    font-size: 6.5rem;
    line-height: 6.5rem;
    font-weight: 600;
}

.body-content-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 555px;
    text-align: center;
    margin: 20px 0;
}

.grid-image-contain {
    display: flex;
    justify-content: center;
}

.grid-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}

.grid-image-item {
    width: 100%;
    height: 100%;
    transition: 1s;
    position: relative;
}


.grid-image-item-contain {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.grid-image-item-contain:after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .7;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 57%,rgba(0,0,0,.67) 99%,rgba(0,0,0,.6) 100%);
    transition: .5s;
}

.grid-image-item-contain:hover::after{
    opacity: 1;
}

.grid-image-item-contain:hover .grid-image-item {
    transform: scale(1.03);
}

.grid-image-item-contain:nth-child(3) {
    grid-row: 1 / 3;
    grid-column-start: 3;
    height: 100%;
}

.grid-image-item-title-and-price {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: #fff;
    z-index: 99;
    pointer-events: none;
}

.grid-achievement {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-template-rows: repeat(auto, 284px);
    margin: 130px 0;
}

.grid-achievement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-bottom: 30px;
}

.grid-achievement-number {
    font-size: 6.5rem;
    line-height: 6.5rem;
    font-weight: 600;
}

.grid-achievement-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 600;
    padding: 20px 0 10px;
}

.banner-video {
    width: 100%;
    height: 512px;
    cursor: pointer;
}

.banner-video-contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-video-img {
    height: 100%;
    width: 100%;
}

.banner-video-btn {
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: var(--default-color);
    border-radius: 50%;
    color: #fff;
    transition: 0.5s;
}

.banner-video:hover .banner-video-btn {
    padding: 30px;
}

.video-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: none;
    animation: fadeOutModal 0.3s linear forwards; 
    z-index: 999;
}

.video-content.active {
    display: flex;
    animation: fadeInModal 0.3s linear 0.2s forwards; 
}

.video-mp4 {
    position: relative;
    max-width: 960px;
    max-height: 540px;
    outline: none;
}

.tour-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    padding: 160px 0 100px;
}

.tour-specific {
    display: flex;
    flex-direction: column;
}

.tour-heading {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
}

.tour-des {
    padding: 20px 0 30px;
    max-width: 710px;
    line-height: 3rem;
}

.tour-info {
    font-size: 1.4rem;
    line-height: 2rem;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 312px);
    grid-column-gap: 70px;
    grid-row-gap: 30px;
}

.tour-info-item {
    display: flex;
    align-items: center;
}

.tour-info-des {
    padding-left: 30px;
    line-height: 2.5rem;
}

.tour-description-picture {
    padding-right: 50px;
}

.tour-description-img {
    height: 100%;
}

.footer {
    background: #212121;
}

.footer-contain {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #fff;
    padding: 106px 0 78px;
}

.footer-item-contain {
    display: flex;
    flex: 50%;
    justify-content: space-between;
}

.footer-item {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.footer-item:last-child {
    margin-left: 20px;
}

.footer-item-contain:first-child {
    margin-right: 40px;
}

.footer-logo {
    height: 84px;
    width: 263px;
}

.footer-item-des-logo {
    font-size: 1.7rem;
    line-height: 3rem;
}

.footer-item-des-logo,
.footer-item-des,
.footer-posts-title {
    margin: 20px 0;
    color: #989898;
}

.footer-posts-title {
    margin-top: 0;
}

.footer-item-des {
    line-height: 2.5rem;
}

.footer-contact {
    margin: 8px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.footer-contact-text {
    margin-left: 15px;
}

.footer-item-heading {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 600;
}

.footer-posts {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.footer-posts-time {
    transition: 0.4s;
    cursor: pointer;
}

.footer-contact:hover,
.footer-posts-time:hover {
    color: var(--default-color);
}

.footer-item-input-box {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.footer-input-icon {
    position: absolute;
    padding-left: 19px;
}

.footer-item-input {
    height: 100%;
    width: 100%;
    background-color: #595959;
    padding-left: 45px;
    outline: none;
    color: #fff;
    border: none;
}

.footer-item-input::placeholder {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}


.footer-btn {
    padding: 14px 25px;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--default-color);
    border: none;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.footer-btn:hover {
    color: #212121;
    background-color: #fff;
}

.footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 0;
}

.footer-bottom-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #989898;
}

.footer-bottom-text-link {
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.footer-bottom-text-link:hover {
    color: var(--default-color);
}

.to-top-btn {
    position: fixed;
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px #989898;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.to-top-btn:after {
    content: 'TOP';
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--default-color);
}

.to-top-btn.active {
    opacity: 1;
    pointer-events: unset;
}